<!-- <div class="contact">
  <h2>Contact Me</h2>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Send</button>
  </form>
</div> -->

<h2>Contact Me</h2>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Your name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <textarea matInput placeholder="Your message"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Send</button>
</form>