<!-- <mat-toolbar color="primary">
  <span>My Portfolio</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <span></span>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/skills">Skills</a>
  <a mat-button routerLink="/projects">Projects</a>
  <a mat-button routerLink="/contact">Contact</a>
</mat-toolbar> -->

<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Ochieng Joel</span>
    <span class="spacer"></span>
    <!-- <a mat-button class="example-menu-bar-item" (click)="scrollToSection('home')">Home</a> -->
    <a mat-button class="example-menu-bar-item" (click)="scrollToSection('about')">About</a>
    <a mat-button class="example-menu-bar-item" (click)="scrollToSection('skills')">Skills</a>
    <a mat-button class="example-menu-bar-item" (click)="scrollToSection('projects')">Projects</a>
    <a mat-button class="example-menu-bar-item" (click)="scrollToSection('contact')">Contact</a>

  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  
  <section id="about" #about>
    <app-about></app-about>
  </section>
  <section id="skills" #skills>
    <app-skills></app-skills>
  </section>
  <section id="projects" #projects>
    <app-projects></app-projects>
  </section>
  <section id="contact" #contact>
    <app-contact></app-contact>
  </section>
  <!-- <section id="home" #home>
    <app-home></app-home>
  </section> -->
</div>


<router-outlet></router-outlet>