
  <!-- <div class="home" @fadeIn>
    <h1>Welcome to My Portfolio</h1>
    <p>Your trusted IT Software Support and Development Expert.</p>    

  </div> -->

  <!-- <div class="home" [@fadeIn]="{ value: '', params: { duration: duration } }">
    <h1>Welcome to My Portfolio</h1>
    <p>Your trusted IT Software Support and Development Expert.</p>
  </div>
   -->

   <div class="hero-container">
    <mat-card>
      <mat-card-title>Your Name</mat-card-title>
      <mat-card-subtitle>Web Developer | Software Engineer</mat-card-subtitle>
      <mat-card-content>
        <p>Welcome to my portfolio website! Explore my work and get in touch.</p>
      </mat-card-content>
    </mat-card>
  </div>
  
  