<!-- <div class="home" @fadeIn>
    <h1>Welcome to My Portfolio</h1>
    <p>Your trusted IT Software Support and Development Expert.</p>    

  </div> -->

<!-- <div class="home" [@fadeIn]="{ value: '', params: { duration: duration } }">
    <h1>Welcome to My Portfolio</h1>
    <p>Your trusted IT Software Support and Development Expert.</p>
  </div>
   -->

<!-- <div class="container" @fadeIn>
  <mat-card style="padding: 2%;">
    <mat-card-title><b>Ochieng Joel</b></mat-card-title>
    <mat-card-subtitle>Web Developer | IT Technical Support Specialist</mat-card-subtitle>
    <mat-card-content>

      <p>
        A Backend & Frontend Engineer who is constantly learning the best practices of architecting software using Java
        Spring Boot & Angular, while having scalability, maintainability, and user needs in mind. Other skills that
        complement the aforementioned include software testing, version control, building Progressive Web Applications,
        CI, and design thinking for building user-centered solutions which I find crucial in the Software Engineering
        process.</p>

      <p>Welcome to my portfolio website! Explore my work and get in touch.</p>


    </mat-card-content>
  </mat-card>
</div> -->